@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html, body {
  height: 100%;
}
body {
	font-family: 'Caveat', cursive !important;
	overflow: hidden;
	position:fixed;
	margin: 0px;padding: 0px;
	background: url('bg.png') #1c0636;
	background-size: cover;
}
body::before {
    content: "";
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.05;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: skew(-30deg) scaleY(1) translate(0, 0);
    transform: skew(-30deg) scaleY(1) translate(0, 0);
    -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.open::before {
    -webkit-transform: skew(-30deg) scale(3) translate(0, 0);
    transform: skew(-30deg) scale(3) translate(0, 0);
    opacity: 0.1;
    transition: all 0.4s ease-in;
}

::selection {
	background: transparent;
}

h4 {
	font-size: 26px;
	line-height: 1px;
	font-family: 'Amatic SC', cursive !important;
}

.color1{color:#62448d}
.color2{color:#a387b8}


.card {
z-index: 21;
	color: #333; 
	position:fixed;
	top: 50%;
	left: 50%;
	min-width: 300px;
	min-height: 463px;
	background: #e0e1dc;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	transition: all 0.4s ease-in;
}

.open .card {
	transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 70px 70px -35px rgba(0, 0, 0, 0.3);
	transition: all 0.4s ease-in;
}

.card:before {
	content:'';
	position: absolute;
	top: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background:  rgba(146,162,156,.5);
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.card:after {
	content: '';
	position: absolute;
	top: 0;
	right: -2px;
	width: 2px;
	height: 100%;
	background: rgba(146,162,156,.5);
	transform-origin: left;
	transform: skewY(-45deg);
}

.card .imgBox {
	width: 300px;
  height: 463px;
	position: static;
	transform-origin: left;
	transition: .7s;
}

.card .bark {
	position: absolute;
	background: #e0e1dc;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card .imgBox img {
width: 100%;
	height: 100%;
	
}

.open .card .imgBox {
	transform: rotateY(-135deg);
}

.open .card .bark {
	opacity: 1;
	transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 10px;
	z-index: -1;
	margin-top: 70px;
}

.card .details p {
	font-size: 20px;
	line-height: 5px;
	transform: rotate(-10deg);
	padding: 0 0 0 20px;
}
.first{
margin-top: 70px;

}
.card .details h4 {
	text-align: center;
}

.text-right {
	text-align: right;
}



.conf-cont {
 position:fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.open .conf-cont .confetti {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #f00;
  opacity: 0.0;
  animation-name: fallsway;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.open .conf-cont .confetti:nth-child(1) {
  z-index: 1;
  animation-name: fallsway1;
  animation-delay: 0.2s;
  background-color: #aac833;
}
.open .conf-cont .confetti:nth-child(2) {
  z-index: 2;
  animation-name: fallsway2;
  animation-delay: 0.4s;
  background-color: #f81be8;
}
.open .conf-cont .confetti:nth-child(3) {
  z-index: 3;
  animation-name: fallsway3;
  animation-delay: 0.6s;
  background-color: #1551f1;
}
.open .conf-cont .confetti:nth-child(4) {
  z-index: 4;
  animation-name: fallsway4;
  animation-delay: 0.8s;
  background-color: #4af13f;
}
.open .conf-cont .confetti:nth-child(5) {
  z-index: 5;
  animation-name: fallsway5;
  animation-delay: 1s;
  background-color: #f197d2;
}
.open .conf-cont .confetti:nth-child(6) {
  z-index: 6;
  animation-name: fallsway6;
  animation-delay: 1.2s;
  background-color: #2e15c4;
}
.open .conf-cont .confetti:nth-child(7) {
  z-index: 7;
  animation-name: fallsway7;
  animation-delay: 1.4s;
  background-color: #d781b2;
}
.open .conf-cont .confetti:nth-child(8) {
  z-index: 8;
  animation-name: fallsway8;
  animation-delay: 1.6s;
  background-color: #9e0488;
}
.open .conf-cont .confetti:nth-child(9) {
  z-index: 9;
  animation-name: fallsway9;
  animation-delay: 1.8s;
  background-color: #e210b7;
}
.open .conf-cont .confetti:nth-child(10) {
  z-index: 10;
  animation-name: fallsway10;
  animation-delay: 2s;
  background-color: #ce9b30;
}
.open .conf-cont .confetti:nth-child(11) {
  z-index: 11;
  animation-name: fallsway11;
  animation-delay: 2.2s;
  background-color: #e2cd92;
}
.open .conf-cont .confetti:nth-child(12) {
  z-index: 12;
  animation-name: fallsway12;
  animation-delay: 2.4s;
  background-color: #ccbfce;
}
.open .conf-cont .confetti:nth-child(13) {
  z-index: 13;
  animation-name: fallsway13;
  animation-delay: 2.6s;
  background-color: #fc0b94;
}
.open .conf-cont .confetti:nth-child(14) {
  z-index: 14;
  animation-name: fallsway14;
  animation-delay: 2.8s;
  background-color: #137159;
}
.open .conf-cont .confetti:nth-child(15) {
  z-index: 15;
  animation-name: fallsway15;
  animation-delay: 3s;
  background-color: #9904cd;
}
.open .conf-cont .confetti:nth-child(16) {
  z-index: 16;
  animation-name: fallsway16;
  animation-delay: 3.2s;
  background-color: #479212;
}
.confetti:nth-child(17) {
  z-index: 17;
  animation-name: fallsway17;
  animation-delay: 3.4s;
  background-color: #cff96d;
}
.open .conf-cont .confetti:nth-child(18) {
  z-index: 18;
  animation-name: fallsway18;
  animation-delay: 3.6s;
  background-color: #ddd5fe;
}
.confetti:nth-child(19) {
  z-index: 19;
  animation-name: fallsway19;
  animation-delay: 3.8s;
  background-color: #22d20a;
}
.open .conf-cont .confetti:nth-child(20) {
  z-index: 20;
  animation-name: fallsway20;
  animation-delay: 4s;
  background-color: #eb936a;
}

@keyframes fallsway1 {
  0% {
    top: -5%;
    left: 29%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 70%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 38%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway2 {
  0% {
    top: -5%;
    left: 26%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 69%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 53%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway3 {
  0% {
    top: -5%;
    left: 22%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 68%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 82%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway4 {
  0% {
    top: -5%;
    left: 46%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 18%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 57%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway5 {
  0% {
    top: -5%;
    left: 87%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 79%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 73%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway6 {
  0% {
    top: -5%;
    left: 41%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 15%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 51%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway7 {
  0% {
    top: -5%;
    left: 39%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 10%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 81%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway8 {
  0% {
    top: -5%;
    left: 87%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 82%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 7%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway9 {
  0% {
    top: -5%;
    left: 48%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 47%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 16%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway10 {
  0% {
    top: -5%;
    left: 44%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 74%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 68%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway11 {
  0% {
    top: -5%;
    left: 36%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 7%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 87%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway12 {
  0% {
    top: -5%;
    left: 43%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 37%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 59%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway13 {
  0% {
    top: -5%;
    left: 21%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 13%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 67%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway14 {
  0% {
    top: -5%;
    left: 74%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 86%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 23%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway15 {
  0% {
    top: -5%;
    left: 60%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 16%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 50%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway16 {
  0% {
    top: -5%;
    left: 15%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 84%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 84%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway17 {
  0% {
    top: -5%;
    left: 29%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 70%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 44%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway18 {
  0% {
    top: -5%;
    left: 27%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 69%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 90%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway19 {
  0% {
    top: -5%;
    left: 6%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 52%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 69%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway20 {
  0% {
    top: -5%;
    left: 3%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 56%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 55%;
    opacity: 1.0;
    transform: skew(-30deg);
  }
}
@keyframes fallsway {
  0% {
    top: -10%;
    left: 78%;
    opacity: 1.0;
  }
  25% {
    left: 3%;
  }
  50% {
    left: 73%;
  }
  75% {
    left: 19%;
  }
  100% {
    top: 110%;
    left: 68%;
    opacity: 1.0;
  }
}